.vstags
bin/
obj/
.vs/
.idea
.vscode
.tool-versions
.envrc
.direnv/
NIX_SETUP.md
shell.nix
/api-test/Properties/launchSettings.json
*.user
/Utilities/GenerateTypescriptDTOs/Properties/launchSettings.json
**/logs
/ingo_test/
/qwb-to-sqe/
/sqe-api-server/mono_crash.mem.*.blob

